![](CintillaTecNM-ITD.png)

<div style = "Text-align: center">
    <h2> Analisis de datos masivos</h2>
    <h3> Python y SQLite </h3><br>
    <h3> Nombre docente </h3>
    <h4> Jose Gabriel Rodriguez Rivas<h4>
    <h3> Nombre Alumno </h3>
    <h4> Misael Omar Vargas Ochoa <h4>
</div>

### ¿Puede crear una consulta para mostrar los nombres de los cazadores de tesoros en la tabla colegas?

#### Consulta 

select nombre from coworkers where titulo='Bounty Hunter';

In [2]:
import sqlite3
import pandas as pd
from matplotlib import pyplot as plt

In [26]:
conn = sqlite3.connect('./Data/phonebook.db')

cur = conn.cursor()

cur.execute("SELECT * FROM coworkers;")

In [27]:
for row in cur:
    print(row)

(101.0, 'Han Solo', 'Bounty Hunter', 5556667578.0)
(102.0, 'Leia Skywalker', 'Princess', 5556542398.0)
(103.0, 'Luke Skywalker', 'Jedi', 5558963267.0)
(104.0, 'Obi-Wan Kenobi', 'Jedi', 5558963276.0)
(105.0, 'Anakin Skywalker', 'Sith Lord', 5553477621.0)
(106.0, 'Jabba The Hutt', 'Gangster', 5556613456.0)
(107.0, 'Greedo', 'Debt Collector', 5552360918.0)
(108.0, 'R2D2', 'Astro Droid', 5555210125.0)
(109.0, 'C3PO', 'Protocol Droid', 5556633345.0)

### Proporcione el código para consultar los nombres de todas las princesas.

In [36]:
cur.execute("SELECT nombre FROM coworkers WHERE titulo='Princess';")
for row in cur:
    print(row)

('Leia Skywalker',)

### Proporcione el código para consultar los nombres de todas las princesas y los recaudadores.

In [38]:
cur.execute("SELECT nombre FROM coworkers WHERE titulo='Princess' OR titulo='Debt Collector';")
for row in cur:
    print(row)

('Leia Skywalker',)
('Greedo',)

### Proporcione el código para consultar los nombres y los números de todos los Jedi.

In [39]:
cur.execute("SELECT nombre FROM coworkers WHERE titulo='Jedi';")
for row in cur:
    print(row)

('Luke Skywalker',)
('Obi-Wan Kenobi',)

### Proporcione el código para consultar los nombres de los droids.

In [40]:
cur.execute("SELECT nombre FROM coworkers WHERE titulo LIKE '%Droid%';")
for row in cur:
    print(row)

('R2D2',)
('C3PO',)