![](../../CintillaTecNM-ITD.png)

<div style = "Text-align: center">
    <h2> Analisis de datos masivos </h2>
    <h3> Visualización de medidores de Internet </h3><br>
    <h3> Nombre docente </h3>
    <h4> Jose Gabriel Rodriguez Rivas <h4>
    <h3> Nombre Alumno </h3>
    <h4> Misael Omar Vargas Ochoa <h4>
</div>

In [135]:
import pandas as pd
import numpy as np

In [136]:
df_compact = pd.read_csv('./rpi_data_compact2.csv')
df_compact.head(3)

,Unnamed: 0,Ping (ms),Download (Mbit/s),Upload (Mbit/s),Date,Time
0,0,26.992,91.80,14.31,2016-11-24,13:36:25
1,1,24.532,88.19,14.12,2016-11-24,13:36:55
2,2,20.225,59.86,14.11,2016-11-24,13:37:25

In [137]:
df_compact.drop(['Unnamed: 0'], axis=1, inplace=True)
df_compact

     Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)        Date      Time
0       26.992              91.80            14.31  2016-11-24  13:36:25
1       24.532              88.19            14.12  2016-11-24  13:36:55
2       20.225              59.86            14.11  2016-11-24  13:37:25
3       19.332              91.81            14.22  2016-11-24  13:37:57
4       22.494              92.05            14.08  2016-11-24  13:38:27
..         ...                ...              ...         ...       ...
675    100.000            2016.00              NaN         NaN       NaN
676    100.000            2016.00              NaN         NaN       NaN
677    100.000            2016.00              NaN         NaN       NaN
678    100.000            2016.00              NaN         NaN       NaN
679     22.175              85.69            14.23        2016       NaN

[680 rows x 5 columns]

In [138]:
NaNs_in_df = df_compact.isnull()
print(type(NaNs_in_df))
NaNs_in_df.head()

<class 'pandas.core.frame.DataFrame'>

   Ping (ms)  Download (Mbit/s)  Upload (Mbit/s)   Date   Time
0      False              False            False  False  False
1      False              False            False  False  False
2      False              False            False  False  False
3      False              False            False  False  False
4      False              False            False  False  False

In [139]:
NaNs_per_column = NaNs_in_df.sum()
print(type(NaNs_per_column))
NaNs_per_column.head()

<class 'pandas.core.series.Series'>

Ping (ms)            1
Download (Mbit/s)    1
Upload (Mbit/s)      7
Date                 7
Time                 8
dtype: int64

In [140]:
NaNs_total = NaNs_per_column.sum()
NaNs_total

24

In [141]:
df_compact.isnull().sum().sum()

24

In [142]:
NaNs_pct = np.round(df_compact.isnull().sum().sum()/float(len(df_compact)*len(df_compact.columns))*100, decimals = 4)
print('The DataFrame contains : {} NaNs, equals to {} of the measurements'.format(NaNs_total, NaNs_pct))

The DataFrame contains : 24 NaNs, equals to 0.7059 of the measurements

In [143]:
df_compact_clean = df_compact.dropna()

In [144]:
print('Longitud sin dropna {}, Longitud con dropna {}'.format(len(df_compact), len(df_compact_clean)))

Longitud sin dropna 680, Longitud con dropna 672

### ¿Observa algún valor impar? ¿Por qué?

In [145]:
df_compact.dtypes

Ping (ms)            float64
Download (Mbit/s)    float64
Upload (Mbit/s)      float64
Date                  object
Time                  object
dtype: object

In [146]:
str_val = '10.56'
float_val = float(str_val)
print(str_val, type(str_val), float_val, type(float_val))

10.56 <class 'str'> 10.56 <class 'float'>

In [147]:
df_compact_clean['Ping (ms)_float'] = df_compact_clean['Ping (ms)'].apply(lambda val: float(val))
df_compact_clean['Download (Mbit/s)_float'] = df_compact_clean['Download (Mbit/s)'].apply(lambda val: float(val))

In [148]:
df_compact_clean.dtypes

Ping (ms)                  float64
Download (Mbit/s)          float64
Upload (Mbit/s)            float64
Date                        object
Time                        object
Ping (ms)_float            float64
Download (Mbit/s)_float    float64
dtype: object

In [149]:
df_compact_clean.drop(['Ping (ms)', 'Download (Mbit/s)'], axis=1, inplace=True)
df_compact_clean

,Upload (Mbit/s),Date,Time,Ping (ms)_float,Download (Mbit/s)_float
0,14.31,2016-11-24,13:36:25,26.992,91.80
1,14.12,2016-11-24,13:36:55,24.532,88.19
2,14.11,2016-11-24,13:37:25,20.225,59.86
3,14.22,2016-11-24,13:37:57,19.332,91.81
4,14.08,2016-11-24,13:38:27,22.494,92.05
...,...,...,...,...,...
667,14.18,2016-11-24,19:15:01,23.073,83.97
668,14.35,2016-11-24,19:15:32,20.952,88.67
669,14.35,2016-11-24,19:16:04,19.397,84.86
670,14.33,2016-11-24,19:16:34,20.117,84.99
671,6.88,2016-11-24,19:17:04,17.995,86.21

In [150]:
columns = {
    'Ping (ms)_float': 'Ping (ms)',
    'Download (Mbit/s)_float': 'Download (Mbit/s)'
    }

df_compact_clean = df_compact_clean.rename(columns={'Ping (ms)_float':'Ping (ms)','Download (Mbit/s)_float':'Download (Mbit/s)'}, inplace=True)

In [151]:
type(df_compact_clean)

NoneType